<Virtualhost *:80>
  ServerName {{ host }}
  DocumentRoot {{ document_root }}
  CustomLog "|/usr/sbin/rotatelogs /var/log/httpd/{{ host }}-access_log.%Y%m%d 86400 540" combined env=!no_log
  ErrorLog "|/usr/sbin/rotatelogs /var/log/httpd/{{ host }}-error_log.%Y%m%d 86400 540"
  <Directory {{ document_root }}>
     AllowOverride All
     Order deny,allow
     Allow From all
  </Directory>
</Virtualhost>
